<div class="container">
  <h1>Update Your Crazy Pet</h1>
    <div class="form-container">
    <form style="text-align: center; margin-top: 4vw; margin-left: 4vw; margin-right: 4vw; font-weight:lighter; font-style: italic; font-size:1.2em; padding-bottom: 1em; ">
      <%= simple_form_for [ @pet ] do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :species %>
        <%= f.submit "Update", class: "btn btn-primary" %>
        </form>
      <% end %>
    </div>
</div>
