<div class="container">
  <h1>Rent a Crazy Pet!</h1>

  <div class="container">
    <h2>Take photos with a weird pet to make it look like you have an interesting life 😊</h2>
    <button class="btn btn-flat-centered"><%= link_to "Add Pet", new_pet_path %></button>
      <%#  <p>Pet owners all around the world have joined Crazy Pets to give you an opportunity to rent some of the craziest pets on the planet so that you can chill with them and take instagram photos together.</p>%>
  </div>

    <%# <div id = "pets"> %>
    <h3 class="h3-index">These are the pets we currently have on offer:</h3>
    <div class="index-container">
          <% @pets.each do |pet| %>
            <div class="card-product">
              <%# <ul></ul> %>
              <% if pet.photo.attached? %>
                <%= cl_image_tag pet.photo.key, height: 400, crop: :fill %>


              <% end %>
              <%#= image_tag("#{pet.image_url}") %>

                <div class="card-product-infos">
                  <h3><strong><%= pet.name %></strong></h3>
                  <h3>Price to rent: $<%= pet.price %></h3>
                  <button class="btn btn-flat-index"><%= link_to "View Pet", pet_path(pet) %></button>
                </div>
                </div>
              <% end %>
    </div>
  </div>
</div>
