<div class="container">
  <div id = "pets">
  <h1>Your pets!</h1>
  <% @my_pets.each do |pet| %>
  <ul></ul>
    <li>  <%= image_tag("#{pet.image_url}", :height => "400")%> </li>
    <li class="name"> Name: <%= pet.name %> </li>
    <li> Description: <%= pet.description %></li>
    <li> Species: <%= pet.species %></li>
    <li> <b> Price to rent: $<%= pet.price %> </b> </li>
    <%= link_to "Edit", edit_pet_path(pet) %>
    <%= link_to "Delete", pet_path(pet), method: :delete %>
    <br>
  <% end %>
</div>
