<div class="mypets-container">
  <div id = "pets">
    <h1 class="h1-mypets">Your Pets!</h1>

    <div class="card-main">
      <% @my_pets.each do |pet| %>
      <%# <ul></ul> %>
      <div class="card-product">
         <% if pet.photo.attached? %>
          <%= cl_image_tag pet.photo.key, height: 400 %>
         <% end %>

          <div class="card-product-infos">
            <h2><%= pet.name %> the <%= pet.species %></h2>
            <li><p><%= pet.description %></p></li>
            <li> <b> Price to rent: $<%= pet.price %> </b> </li>
            <button class="btn btn-ghost"> <%= link_to "Edit", edit_pet_path(pet) %></button>
            <button class="btn btn-ghost"> <%= link_to "Delete", pet_path(pet), method: :delete, data: { confirm: "Are you sure?" } %></button>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
