<div class="container">
  <h1><%= @pet.name %></h1>
  <%# <div id = "pets"> %>
    <div class="card-product-show">
      <% if @pet.photo.attached? %>
        <%= cl_image_tag @pet.photo.key, height: 200 %>
      <% end %>
      <div class="card-product-infos-show">
        <p><strong>Description:</strong> <%= @pet.description %></p>
        <p><strong>Species:</strong> <%= @pet.species %></p>
        <p><strong>Price to rent:</strong> $<%= @pet.price %></p>
        <%#<br>%>
        <% if @pet.user != current_user %>
          <button class="btn btn-ghost"><%= link_to "Book Pet", pet_bookings_path(@pet), method: :post %></button>
        <% end %>
      </div>
    </div>
</div>
