<div class="container">
  <h1><%= @pet.name %></h1>

    <ul></ul>
      <li>  <%= image_tag("#{@pet.image_url}")%> </li>
      <li> Description: <%= @pet.description %></li>
      <li> Species: <%= @pet.species %></li>
      <li> <b> Price to rent: $<%= @pet.price %> </b> </li>
      <br>

    <%= link_to "Book Pet", new_pet_booking_path(@pet) %>
</div>
